<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 center">Welcome, Let's Read, Write & Share</h1>
      <p class="lead">How sharing on social media helped me stay sober.If you’re reading this, you probably don’t need me to tell you that many of us spend a good chunk of our lives online.</p>
      <div class="form-button">
          <button type="button" class="btn btn-primary" routerLink="/login">Login</button>
          <button type="button" class="btn btn-success" routerLink="/register">Register</button>
        </div>
    </div>
</div>

<!-- Main Content -->
<div class="album py-5">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://visualpharm.com/assets/380/Guest%20Male-595b40b65ba036ed117d41bb.svg" width="200px" height="200px" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://visualpharm.com/assets/380/Guest%20Male-595b40b65ba036ed117d41bb.svg" width="200px" height="200px" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://visualpharm.com/assets/380/Guest%20Male-595b40b65ba036ed117d41bb.svg" width="200px" height="200px" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://visualpharm.com/assets/380/Guest%20Male-595b40b65ba036ed117d41bb.svg" width="200px" height="200px" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://visualpharm.com/assets/380/Guest%20Male-595b40b65ba036ed117d41bb.svg" width="200px" height="200px" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://visualpharm.com/assets/380/Guest%20Male-595b40b65ba036ed117d41bb.svg" width="200px" height="200px" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://visualpharm.com/assets/380/Guest%20Male-595b40b65ba036ed117d41bb.svg" width="200px" height="200px" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://visualpharm.com/assets/380/Guest%20Male-595b40b65ba036ed117d41bb.svg" width="200px" height="200px" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://visualpharm.com/assets/380/Guest%20Male-595b40b65ba036ed117d41bb.svg" width="200px" height="200px" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
